/* Position and sizing of burger button */
.bm-burger-button {
    display: block;
    position: fixed;
    width: 24px;
    height: 20px;
    left: 30px;
    top: 55px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
    background: black;
  }
  
/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
background: red;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
height: 24px;
width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
background: white;
}



/* General sidebar styles */
.bm-menu {
background: black;
padding: 2.5em 1.5em 0;
font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
color: white;
padding: 0.8em;
}

/* Individual item */
.bm-item {
display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
background: rgba(0, 0, 0, 0);
}